@import '@syncfusion/ej2-react-pdfviewer/styles/material.css';
@import '@syncfusion/ej2-base/styles/material.css';
@import '@syncfusion/ej2-buttons/styles/material.css';
@import '@syncfusion/ej2-calendars/styles/material.css';
@import '@syncfusion/ej2-inputs/styles/material.css';
@import '@syncfusion/ej2-navigations/styles/material.css';
@import '@syncfusion/ej2-popups/styles/material.css';
@import '@syncfusion/ej2-splitbuttons/styles/material.css';
@import '@syncfusion/ej2-layouts/styles/material.css';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;

}

.head {
    width: 70vw;
    margin: auto;
    margin-bottom: 2rem;
}

.table-main {
    overflow: scroll;
    border: 1px solid black;

}

.JobQueueTableTr th {
    border: 1px solid black;
    padding: 0.5rem;
}

.JobQueueTableTr td {
    border: 1px solid black;
    padding: 0.5rem;
    width: 20vw;
}



.containe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
    margin-top: 3rem;
}

.top-row {
    display: flex;
    margin-left: 27px;
    /* Adjust according to the size of the timing marks */
}

.top {
    height: 37px;
}

.corner {
    width: 0px;
    /* Space for the row numbers on the left */
}

.top-num {

    margin-right: .06rem;
}

.top-num,
.left-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: .7rem;
}

.grid {
    display: flex;
    flex-direction: column;
    position: relative;
}

.row {
    display: flex;
}

.circle {
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px;
}

.left-num {
    /* margin-bottom: 0.6rem; */
    padding-top: 19px;
    width: 30px;
    /* Enough space to fit the timing mark and number */
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5px;
    /* Space before the grid starts */
}

.left-nums {

    height: 20px;
    font-size: .7rem;
    margin-bottom: 0.065rem;
    width: 30px;
    /* Enough space to fit the timing mark and number */
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5px;
    /* Space before the grid starts */
}

.timing-mark {
    width: 1.2rem;
    height: .5rem;
    background-color: black;
}


.circle {
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    /* Indicates that the item is clickable */
}

.circle.selected {
    background-color: blue;
    /* Change color as needed to indicate selection */
}



.disabled-button {
    opacity: 0.6;
    /* reduce opacity to visually indicate disabled state */
    cursor: not-allowed;
    /* change cursor to indicate not clickable */
    pointer-events: none;
    /* disable pointer events */
    /* background-color: ; */
}